@-webkit-keyframes glowing {
  0% { -webkit-box-shadow: 0 0 3px #5CB85C; }
  50% { -webkit-box-shadow: 0 0 3px #5CB85C; }
}
@-moz-keyframes glowing {
  0% { -moz-box-shadow: 0 0 3px #5CB85C; }
  50% { -moz-box-shadow: 0 0 40px #BAE8BA; }
  100% { -moz-box-shadow: 0 0 3px #5CB85C; }
}
@-o-keyframes glowing {
  0% { box-shadow: 0 0 3px #5CB85C; }
  50% { box-shadow: 0 0 40px #BAE8BA; }
  100% { box-shadow: 0 0 3px #5CB85C; }
}
@keyframes glowing {
  0% { box-shadow: 0 0 3px #5CB85C; }
  50% { box-shadow: 0 0 40px #BAE8BA; }
  100% { box-shadow: 0 0 3px #5CB85C; }
}
.glowing {
  -webkit-animation: glowing 1000ms infinite;
  -moz-animation: glowing 1000ms infinite;
  -o-animation: glowing 1000ms infinite;
  animation: glowing 1000ms infinite;
}