#d3real > svg, #d3sim > svg{

    display: block;
    margin: auto;

}
body > div{

    border: 5px solid red;
    height: 100vh;

}
body > div > div{

    border: 5px solid blue;

}
body, html{

  overflow: hidden;

}