#d3real > svg, #d3sim > svg{

    display: block;
    margin: auto;

}
body > div{

    display: table;
    height: 100vh;
    width: 100%;

}
body > div > div{

    display: table-cell;
    height: 100%;
    vertical-align: middle;

}
body > div > div > div{

    width: 100%;

}
body, html{

    overflow-x: hidden;

}