#pitch_graph .pitch_group, #volume_graph .volume_group {
  fill:none;
}
.nice_background {
  background-color:#F8F8F8;
  background-image:url("black-twill.png");
}
body, html {
  background:#F8F8F8;
  height:100%;
  overflow:hidden;
  width:100%;
}
div {
  border:1px none red;
}