<!DOCTYPE html>
<html>
  <head>
    <title>web</title>
    <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bower_components/bootstrap-select/dist/css/bootstrap-select.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='glowing_button.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bower_components/socket.io-client/dist/socket.io.js') }}"></script>
    <script>
      var mode_go_to = false;
      var received_data = null;
      var socket = io.connect("http://" + document.domain + ":" + location.port);

      socket.on("inputSend", function (_receivedData){ received_data = _receivedData; });
    </script>
  </head>
  <body>
    <div style="display:flex;flex-direction:row;height:100%;">
      <div style="flex:1;margin-bottom:5px;margin-left:5px;margin-right:2.5px;margin-top:5px;width:50%;">
        <div id="qr_code" style="align-items:center;display:flex;height:100%;justify-content:center;width:100%;"></div>
      </div>
      <div style="display:flex;flex:1;flex-direction:column;margin-bottom:5px;margin-left:2.5px;margin-right:5px;margin-top:5px;width:50%;"">
        <div class="input-group" style="display:flex;flex-direction:row;margin-bottom:2.5px;margin-left:0px;margin-right:0px;margin-top:0px;">
          <div style="flex:1;">
            <input class="form-control" id="qr_value" placeholder="this client name" style="text-align:center;" type="text">
          </div>
          <div style="flex:1;">
            <span class="input-group-btn" style="display:flex;flex-direction:row;height:100%;width:100%;">
              <button class="btn btn-success" id="qr_activate" style="flex:1;" type="button">activate</button>
              <button class="btn btn-primary" id="qr_generate" style="flex:1;" type="button">generate</button>
              <button class="btn btn-danger" id="qr_deactivate" style="flex:1;" type="button">deactivate</button>
            </span>
          </div>
        </div>
        <div class="form-group" style="margin-bottom:2.5px;margin-left:0px;margin-right:0px;margin-top:2.5px;">
          <ul class="nav nav-tabs" style="display:flex;flex-direction:row;">
            <li class="active" style="flex:1;"><a data-toggle="tab" href="#cam" id="cam_button" style="text-align:center;">cam</a></li>
            <li style="flex:1;"><a data-toggle="tab" href="#mic" id="mic_button" style="text-align:center;">mic</a></li>
            <li style="flex:1;"><a data-toggle="tab" href="#api" id="api_button" style="text-align:center;">api</a></li>
            <li style="flex:2;"><a data-toggle="tab" href="#graph" id="graph_button" style="text-align:center;">graph</a></li>
            <li style="flex:2;"><a data-toggle="tab" href="#graph_demo" id="graph_demo_button" style="text-align:center;">graph demo</a></li>
          </ul>
        </div>
        <div class="tab-content" style="display:flex;flex:1;flex-direction:column;height:100%;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:2.5px;">
          <div class="active fade in tab-pane" id="cam" style="flex:1;height:100%;">
            <div style="display:flex;flex:1;flex-direction:column;height:100%;">
              <div style="display:flex;flex-direction:row;margin-bottom:2.5px;margin-left:0px;margin-right:0px;margin-top:0px;">
                <div class="form-control" style="display:flex;flex-direction:row;flex:1;margin-bottom:0px;margin-left:0px;margin-right:2.5px;margin-top:0px;">
                  <label style="flex:1;">face:</label>
                  <div style="flex:1;overflow:hidden;">
                    <p id="face_detected_value" style="text-align:center;">0</p>
                  </div>
                </div>
                <div class="form-control" style="display:flex;flex-direction:row;flex:1;margin-bottom:0px;margin-left:2.5px;margin-right:0px;margin-top:0px;overflow:hidden;">
                  <label>presence:</label>
                  <div style="flex:1;overflow:hidden;">
                    <p id="presence_value" style="text-align:center;"></p>
                  </div>
                </div>
              </div>
              <div class="nice_background" id="video_container" style="align-items:center;display:flex;height:100%;justify-content:center;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:2.5px;overflow:hidden;">
                <video height="240" id="video" width="240" style="object-fit:cover;" autoplay loop muted preload></video>
              </div>
            </div>
          </div>
          <div class="fade in tab-pane" id="mic" style="flex:1;">
            <div style="display:flex;flex-direction:column;height:100%;">
              <div style="display:flex;flex-direction:row;margin-bottom:2.5px;margin-left:0px;margin-right:0px;margin-top:0px;">
                <div class="form-control" style="display:flex;flex-direction:row;flex:1;margin-bottom:0px;margin-left:0px;margin-right:2.5px;margin-top:0px;">
                  <label style="flex:1;">pitch:</label>
                  <div style="flex:1;overflow:hidden;">
                    <p id="pitch_value" style="text-align:center;">0</p>
                  </div>
                </div>
                <div class="form-control" style="display:flex;flex-direction:row;flex:1;margin-bottom:0px;margin-left:2.5px;margin-right:0px;margin-top:0px;">
                  <label style="flex:1;">volume:</label>
                  <div style="flex:1;overflow:hidden;">
                    <p id="volume_value" style="text-align:center;">0</p>
                  </div>
                </div>
              </div>
              <div class="nice_background" style="display:flex;flex:1;flex-direction:column;position:relative;">
                <div id="pitch_graph" style="flex:1;height:50%;position:absolute;width:100%;"></div>
                <div id="volume_graph" style="flex:1;height:50%;position:absolute;width:100%;"></div>
              </div>
            </div>
          </div>
          <div class="fade in tab-pane" id="api" style="flex:1;">
            <div style="display:flex;flex-direction:column;height:100%;">
              <div class="form-group" style="margin-bottom:2.5px;margin-left:0px;margin-right:0px;margin-top:0px;">
                <ul class="nav nav-tabs" style="display:flex;flex-direction:row;">
                  <li class="active" style="flex:1;"><a data-toggle="tab" href="#client" style="text-align:center;">client</a></li>
                  <li style="flex:1;"><a data-toggle="tab" href="#face" style="text-align:center;">face</a></li>
                  <li style="flex:1;"><a data-toggle="tab" href="#pitch" style="text-align:center;">pitch</a></li>
                  <li style="flex:1;"><a data-toggle="tab" href="#presence" style="text-align:center;">presence</a></li>
                  <li style="flex:1;"><a data-toggle="tab" href="#volume" style="text-align:center;">volume</a></li>
                </ul>
              </div>
              <div class="tab-content" style="display:flex;flex:1;flex-direction:column;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:2.5px;">
                <div class="active fade in tab-pane" id="client" style="flex:1;">
                  <div style="display:flex;flex-direction:column;height:100%;">
                    <span class="input-group-btn" style="display:flex;flex-direction:row;width:100%;">
                      <button class="btn btn-primary" style="flex:1;" type="button">download .csv</button>
                      <button class="btn btn-success" style="flex:1;" type="button">download .json</button>
                      <button class="btn btn-info" style="flex:1;" type="button">download .txt</button>
                    </span>
                    <div style="flex:1;">api client name</div>
                  </div>
                </div>
                <div class="fade in tab-pane" id="face" style="flex:1;">
                  <div style="display:flex;flex-direction:column;height:100%;">
                    <div class="input-group" style="display:flex;flex-direction:row;">
                      <div style="flex:1;">
                        <select class="selectpicker" data-width="100%" title="choose client name">
                          <option>client_test_1</option>
                          <option>client_test_2</option>
                          <option>client_test_3</option>
                        </select>
                      </div>
                      <div style="flex:1;">
                          <span class="input-group-btn" style="display:flex;flex-direction:row;height:100%;width:100%;">
                            <button class="btn btn-primary" style="flex:1;" type="button">.csv</button>
                            <button class="btn btn-success" style="flex:1;" type="button">.json</button>
                            <button class="btn btn-info" style="flex:1;" type="button">.txt</button>
                          </span>
                      </div>
                    </div>
                    <div style="flex:1;">api face</div>
                  </div>
                </div>
                <div class="fade in tab-pane" id="pitch" style="flex:1;">
                  <div style="display:flex;flex-direction:column;height:100%;">
                    <div class="input-group" style="display:flex;flex-direction:row;">
                      <div style="flex:1;">
                        <select class="selectpicker" data-width="100%" title="choose client name">
                          <option>client_test_1</option>
                          <option>client_test_2</option>
                          <option>client_test_3</option>
                        </select>
                      </div>
                      <div style="flex:1;">
                        <span class="input-group-btn" style="display:flex;flex-direction:row;height:100%;width:100%;">
                          <button class="btn btn-primary" style="flex:1;" type="button">.csv</button>
                          <button class="btn btn-success" style="flex:1;" type="button">.json</button>
                          <button class="btn btn-info" style="flex:1;" type="button">.txt</button>
                        </span>
                      </div>
                    </div>
                    <div style="flex:1;">api pitch</div>
                  </div>
                </div>
                <div class="fade in tab-pane" id="presence" style="flex:1;">
                  <div style="display:flex;flex-direction:column;height:100%;">
                    <div class="input-group" style="display:flex;flex-direction:row;">
                      <div style="flex:1;">
                        <select class="selectpicker" data-width="100%" title="choose client name">
                          <option>client_test_1</option>
                          <option>client_test_2</option>
                          <option>client_test_3</option>
                        </select>
                      </div>
                      <div style="flex:1;">
                        <span class="input-group-btn" style="display:flex;flex-direction:row;height:100%;width:100%;">
                          <button class="btn btn-primary" style="flex:1;" type="button">.csv</button>
                          <button class="btn btn-success" style="flex:1;" type="button">.json</button>
                          <button class="btn btn-info" style="flex:1;" type="button">.txt</button>
                        </span>
                      </div>
                    </div>
                    <div style="flex:1;">api presence</div>
                  </div>
                </div>
                <div class="fade in tab-pane" id="volume" style="flex:1;">
                  <div style="display:flex;flex-direction:column;height:100%;">
                    <div class="input-group" style="display:flex;flex-direction:row;">
                      <div style="flex:1;">
                        <select class="selectpicker" data-width="100%" title="choose client name">
                          <option>client_test_1</option>
                          <option>client_test_2</option>
                          <option>client_test_3</option>
                        </select>
                      </div>
                      <div style="flex:1;">
                        <span class="input-group-btn" style="display:flex;flex-direction:row;height:100%;width:100%;">
                          <button class="btn btn-primary" style="flex:1;" type="button">.csv</button>
                          <button class="btn btn-success" style="flex:1;" type="button">.json</button>
                          <button class="btn btn-info" style="flex:1;" type="button">.txt</button>
                        </span>
                      </div>
                    </div>
                    <div style="flex:1;">api volume</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="fade in nice_background tab-pane" id="graph" style="flex:1;">
            <div style="display:flex;flex-direction:column;height:100%;">
              <div id="graph_svg_container_container" style="display:flex;flex:1;flex-direction:column;position:relative;">
                <div id="graph_svg_container" style="flex:1;height:100%;position:absolute;width:100%;"></div>
              </div>
              <div style="display:flex;flex-direction:row;">
                <div style="flex:1;">
                  <input class="form-control" id="dt_value" placeholder="yyyymmddhhmmss" style="text-align:center;" type="text">
                </div>
                <div style="flex:1;">
                  <span class="input-group-btn" style="display:flex;flex-direction:row;height:100%;width:100%;">
                    <button class="btn btn-primary" id="dt_go_to" style="flex:1;" type="button">go to</button>
                    <button class="btn btn-primary" id="dt_recent" style="flex:1;" type="button">recent</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="fade in nice_background tab-pane" id="graph_demo" style="diplay:flex;flex:1;flex-direction:column;position:relative;">
            <div id="graph_demo_svg_container" style="flex:1;height:100%;position:absolute;width:100%;"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}" type="text/javascript"></script>
    <!--<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}" type="text/javascript"></script>-->
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.js') }}" type="text/javascript"></script>
    <!--<script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>-->
    <script src="{{ url_for('static', filename='bower_components/bootstrap-select/dist/js/bootstrap-select.js') }}" type="text/javascript"></script>
    <!--<script src="{{ url_for('static', filename='bower_components/bootstrap-select/dist/js/bootstrap-select.min.js') }}" type="text/javascript"></script>-->
    <script src="{{ url_for('static', filename='d3/d3.js') }}" type="text/javascript"></script>
    <!--<script src="{{ url_for('static', filename='d3/d3.min.js') }}" type="text/javascript"></script>-->
    <script src="{{ url_for('static', filename='davidshimjs-qrcodejs-04f46c6/qrcode.js') }}" type="text/javascript"></script>
    <!--<script src="{{ url_for('static', filename='davidshimjs-qrcodejs-04f46c6/qrcode.min.js') }}" type="text/javascript"></script>-->
    <script src="{{ url_for('static', filename='tracking.js-master/build/tracking.js') }}"> type="text/javascript"</script>
    <script src="{{ url_for('static', filename='tracking.js-master/build/data/face.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='color_manipulation.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='degree_radian.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='volume-meter.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='face_detection.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='instascan.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='pv_detection.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='qr_detection.js') }}" type="text/javascript"></script>
    <script>
      // Prototype D3JS graph demo.
      // ATTENTION: Every D3 graphs need to have an accompanying function to be able to resize its size accordingly.
      //            This function need to refer back to all position settings when the first time the graph initialized.
      var d3_dimension_simulation = { height:320,width:320 };
      var d3_dimension_smallest_simulation = (d3_dimension_simulation.height < d3_dimension_simulation.width) ? d3_dimension_simulation.height : d3_dimension_simulation.width
      var d3_dimension_translate_simulation = { x:d3_dimension_simulation.width/2, y:d3_dimension_simulation.height/2 }
      var d3_padding_simulation = d3_dimension_smallest_simulation/8;
      var main_circle_radius_simulation = (d3_dimension_smallest_simulation/2) - d3_padding_simulation;
      var client_circle_radius_biggest_simulation = main_circle_radius_simulation/6;
      var client_circle_radius_smallest_simulation = main_circle_radius_simulation/12;

      var d3_dimension = { height:320,width:320 };
      var d3_dimension_smallest = (d3_dimension.height < d3_dimension.width) ? d3_dimension.height : d3_dimension.width
      var d3_dimension_translate = { x:d3_dimension.width/2, y:d3_dimension.height/2 }
      var d3_padding = d3_dimension_smallest/8;
      var main_circle_radius = (d3_dimension_smallest/2) - d3_padding;
      var client_circle_radius_biggest = main_circle_radius/6;
      var client_circle_radius_smallest = main_circle_radius/12;

      var scale_linear_pitch = d3.scaleLinear()
        .domain([0, 5000])
        .range([0, 1]);
      var scale_linear_volume = d3.scaleLinear()
        .domain([0, 0.1])
        .range([client_circle_radius_smallest_simulation, client_circle_radius_biggest_simulation]);

      var graph_svg = d3.select("#graph_svg_container").append("svg")
        .attr("height", "100%")
        .attr("id", "graph_svg")
        .attr("width", "100%");
      var graph_demo_svg = d3.select("#graph_demo_svg_container").append("svg")
        .attr("height", "100%")
        .attr("id", "graph_demo_svg")
        .attr("width", "100%");

      function graph_resize () {
        main_circle_radius_prev = main_circle_radius_simulation;

        d3_dimension = { height:$("#graph_svg_container_container").height(),width:$("#graph_svg_container_container").width() };
        d3_dimension_smallest = (d3_dimension.height < d3_dimension.width) ? d3_dimension.height : d3_dimension.width
        d3_dimension_translate = { x:d3_dimension.width/2, y:d3_dimension.height/2 }
        d3_padding = d3_dimension_smallest/8;
        main_circle_radius = ((d3_dimension_smallest/2) - d3_padding <= 1) ? 1 : (d3_dimension_smallest/2) - d3_padding; // Prevent `NaN`.
        client_circle_radius_biggest = main_circle_radius/6;
        client_circle_radius_smallest = main_circle_radius/12;

        scale_linear_pitch = d3.scaleLinear()
          .domain([0, 5000])
          .range([0, 1]);
        scale_linear_volume = d3.scaleLinear()
          .domain([0, 0.1])
          .range([client_circle_radius_smallest, client_circle_radius_biggest]);

        graph_svg
          .attr("height", d3_dimension.height)
          .attr("width", d3_dimension.width);
      }

      function graph_demo_resize () {
        main_circle_radius_prev = main_circle_radius_simulation;

        d3_dimension_simulation = { height:$("#graph_demo").height(),width:$("#graph_demo").width() };
        d3_dimension_smallest_simulation = (d3_dimension_simulation.height < d3_dimension_simulation.width) ? d3_dimension_simulation.height : d3_dimension_simulation.width
        d3_dimension_translate_simulation = { x:d3_dimension_simulation.width/2, y:d3_dimension_simulation.height/2 }
        d3_padding_simulation = d3_dimension_smallest_simulation/8;
        main_circle_radius_simulation = ((d3_dimension_smallest_simulation/2) - d3_padding_simulation <= 1) ? 1 : (d3_dimension_smallest_simulation/2) - d3_padding_simulation; // Prevent `NaN`.
        client_circle_radius_biggest_simulation = main_circle_radius_simulation/6;
        client_circle_radius_smallest_simulation = main_circle_radius_simulation/12;

        scale_linear_pitch = d3.scaleLinear()
          .domain([0, 5000])
          .range([0, 1]);
        scale_linear_volume = d3.scaleLinear()
          .domain([0, 0.1])
          .range([client_circle_radius_smallest_simulation, client_circle_radius_biggest_simulation]);

        graph_demo_svg
          .attr("height", d3_dimension_simulation.height)
          .attr("width", d3_dimension_simulation.width);

        for (var i = 0; i < client_circle_simulation_array.length; i ++) {
          var degree = Number(client_circle_simulation_array[i].circle.attr("degree"));
          var radius_prev = Number(client_circle_simulation_array[i].circle.attr("r"));
          var radius_proportion = ((main_circle_radius_simulation/main_circle_radius_prev) < 1) ? 1 : (main_circle_radius_simulation/main_circle_radius_prev);
          client_circle_simulation_array[i].circle
            .attr("cx", main_circle_radius_simulation * Math.cos(Math.Radian(degree)))
            .attr("cy", main_circle_radius_simulation * Math.sin(Math.Radian(degree)))
            .attr(
              "transform",
              "translate(" + d3_dimension_translate_simulation.x + ", " + d3_dimension_translate_simulation.y + ")"
            )
            .style("opacity", 1)
            .attr("r", radius_proportion*radius_prev);
        }
        rotate_all_for_client_circle_simulation();
      }

      var client_array = [];
      var client_circle_degree_target_array = [];
      var client_circle_simulation_array = [];
      var client_simulation_array = [];
      var client_simulation_name_array = [
        "carl",
        "chris",
        "dennet",
        "richard",
        "neil",
        "sam"
      ];

      function client (_name) {
        client_array.push(this);
        this.name = _name;

        this.client_circle_color = INTRGB(HashCode(this.name));
        this.latest_presence_client_name_array = [];
        this.circle = null;
      }
      function client_simulation (_name) {
        client_simulation_array.push(this);
        this.name = _name;

        this.client_circle = null;
        this.client_circle_color = INTRGB(HashCode(this.name));
        this.latest_amount_face = 0;
        this.latest_amount_pitch = 0;
        this.latest_amount_volume = 0;
        this.latest_presence_client_simulation_circle_array = [];
        this.latest_presence_client_simulation_name_array = [];
        this.online = true;
        this.online_chance = 1.0;
      }
      client_simulation.prototype.constructor = client_simulation;
      client_simulation.prototype.simulate_online = function () {
        var random = Math.random();
        if (random < this.online_chance) {
          if (!this.online) {
            this.online = true;
            this.online_chance = 1.0;
          }
          else {
            this.online_chance -= 0.005;
          }
        }
        else {
          if (this.online) {
            this.online = false;
            this.online_chance = 0;
          }
          else {
            this.online_chance += 0.005;
          }
        }
      };
      client_simulation.prototype.simulate_detection_face = function () {
        this.latest_amount_face = 0;
        for (var i = 0; i < client_simulation_array.length; i ++) {
          if(
              (client_simulation_array[i].name != this.name) &&
              (client_simulation_array[i].online)
          ){
            this.latest_amount_face ++;
          }
        }
      };
      client_simulation.prototype.simulate_detection_pitch = function () {
        // Number.
        this.latest_amount_pitch = (Math.random()*2500.0).toFixed(3);
        // Animation.
        var fill_temp = ShadeRGBColor("rgb(" + HexRGB(this.client_circle_color).r + ", " + HexRGB(this.client_circle_color).g + ", " + HexRGB(this.client_circle_color).b +")", scale_linear_pitch(this.latest_amount_pitch));
        this.client_circle.circle.style("fill", fill_temp);
      };
      client_simulation.prototype.simulate_detection_presence = function () {
        this.latest_presence_client_simulation_circle_array = [];
        this.latest_presence_client_simulation_name_array = [];

        for (var i = 0; i < client_simulation_array.length; i ++) {
          if (
            (client_simulation_array[i].client_circle !== null) &&
            (client_simulation_array[i].name != this.name) &&
            (client_simulation_array[i].online) &&
            (Math.random() < 0.8)
          ) {
            this.latest_presence_client_simulation_circle_array.push(client_simulation_array[i].client_circle);
            this.latest_presence_client_simulation_name_array.push(client_simulation_array[i].name);
          }
        }

      };
      client_simulation.prototype.simulate_detection_volume = function () {
        // Number.
        this.latest_amount_volume = (Math.random()*0.1).toFixed(3);
        // Animation.
        this.client_circle.radius = scale_linear_volume(this.latest_amount_volume);
        this.client_circle.circle.attr("r", this.client_circle.radius);
      };

      function client_circle_simulation (_client, _degree) {
        client_circle_simulation_array.push(this);

        this.client = _client;
        this.client.client_circle = this;
        this.circle = graph_demo_svg.append("circle")
          .attr("class", "client_circle_simulation")
          .attr("cx", main_circle_radius_simulation * Math.cos(Math.Radian(_degree)))
          .attr("cy", main_circle_radius_simulation * Math.sin(Math.Radian(_degree)))
          .attr("degree", _degree)
          .attr("id", this.client.client_name)
          .attr("r", client_circle_radius_biggest_simulation)
          .attr(
            "transform",
            "translate(" + d3_dimension_translate_simulation.x + ", " + d3_dimension_translate_simulation.y + ")"
          )
          .style("fill", this.client.client_circle_color)
          .style("stroke", this.client.client_circle_color)
          .style("stroke-width", 5);
      }
      client_circle_simulation.prototype.constructor = client_circle_simulation;
      client_circle_simulation.prototype.rotate = function (_degree) {
        this.circle
          .attr("cx", main_circle_radius_simulation * Math.cos(Math.Radian(_degree)))
          .attr("cy", main_circle_radius_simulation * Math.sin(Math.Radian(_degree)))
          .attr("degree", _degree);
      };

      function determine_target_for_client_circle_simulation () {
        client_circle_degree_target_array = [];
        for (var i = 0; i < client_circle_simulation_array.length; i ++) {
          var client_circle_degree_target = (i/client_circle_simulation_array.length)*360;
          client_circle_degree_target_array.push(client_circle_degree_target);
        }
      }
      function rotate_all_for_client_circle_simulation () {
        determine_target_for_client_circle_simulation();
        for (var i = 0; i < client_circle_simulation_array.length; i ++) {
          client_circle_simulation_array[i].rotate(client_circle_degree_target_array[i]);
        }
      }

      for(var i = 0; i < client_simulation_name_array.length; i ++){
        var client_temp = new client_simulation(
          client_simulation_name_array[i],
          true
        );
        new client_circle_simulation(client_temp, 180);
      }
      rotate_all_for_client_circle_simulation();

      var magic_number = 7.5; // Don't ever talk to me about this.
                              // It just works!

      var duration = 750;
      var limit = 60;
      var now = new Date();

      // Pitch graph.
      var pitch_height = $("#cam").height()/2 - $("#cam").height()/magic_number;
      var pitch_width = $("#cam").width();
      var pitch_group = {
        color:"orange",
        data:d3.range(limit).map(function () {
          return 0;
        }),
        value:0
      };
      var pitch_x = d3.scaleTime()
        .domain([now - (limit - 2), now - duration])
        .range([0, pitch_width]);
      var pitch_y = d3.scaleLinear()
        .domain([0, 5000])
        .range([pitch_height, 0]);
      var pitch_line = d3.line()
        .curve(d3.curveBasis)
        .x(function (d, i) {
          return pitch_x(now - (limit - 1 - i)*duration);
        })
        .y(function (d) {
          return pitch_y(d);
        });
      var pitch_svg = d3.select("#pitch_graph").append("svg")
        .attr("class", "chart")
        .attr("width", pitch_width)
        .attr("height", pitch_height + 5);
      var pitch_paths = pitch_svg.append("g")
        .attr("transform", "translate(0, -5)");
      pitch_group.path = pitch_paths.append("path")
        .data([pitch_group.data])
        .attr("class", "pitch_group")
        .attr("stroke", pitch_group.color)
        .attr("stroke-width", "5px");
      function pitch_resize () {
        if (set_to_resize_pitch_and_volume_graph) {
          pitch_height = $("#pitch_graph").height() - $("#pitch_graph").height()/5;
          pitch_width = $("#pitch_graph").width();
        }
        else {
          pitch_height = $("#cam").height()/2 - $("#cam").height()/magic_number;
          pitch_width = $("#cam").width();
        }
        pitch_x.range([0, pitch_width]);
        pitch_y.range([pitch_height, 0]);
        pitch_svg
          .attr("width", pitch_width)
          .attr("height", pitch_height + 5);
      }
      function pitch_tick () {
        pitch_group.data.push(pitch_value);
        pitch_group.path.attr("d", pitch_line);
        pitch_x.domain([now - (limit - 2)*duration, now - duration]);
        pitch_paths.attr("transform", null)
          .transition()
          .attr("transform", "translate(" + pitch_x(now - (limit - 1)*duration) + ")")
          .duration(duration)
          .ease(d3.easeLinear)
          .on("end", pitch_tick);
        pitch_group.data.shift();
      }

      // Volume graph.
      // Since the codes are nearly the same and I only need to repeat 2, most of the time these are the same with pitch graph.
      // These are just there because my deadline is nearby :(.
      var volume_height = $("#cam").height()/2 - $("#cam").height()/magic_number;
      var volume_width = $("#cam").width();
      $("#volume_graph").css("top", (volume_height + $("#cam").height()/magic_number) + "px");
      var volume_group = {
        color:"green",
        data:d3.range(limit).map(function () {
          return 0;
        }),
        value:0
      };
      var volume_x = d3.scaleTime()
        .domain([now - (limit - 2), now - duration])
        .range([0, volume_width]);
      var volume_y = d3.scaleLinear()
        .domain([0, 0.1])
        .range([volume_height, 0]);
      var volume_line = d3.line()
        .curve(d3.curveBasis)
        .x(function (d, i) {
          return volume_x(now - (limit - 1 - i)*duration);
        })
        .y(function (d) {
          return volume_y(d);
        });
      var volume_svg = d3.select("#volume_graph").append("svg")
        .attr("class", "chart")
        .attr("width", volume_width)
        .attr("height", volume_height + 5);
      var volume_paths = volume_svg.append("g")
        .attr("transform", "translate(0, -5)");
      volume_group.path = volume_paths.append("path")
        .data([volume_group.data])
        .attr("class", "volume_group")
        .style("stroke", volume_group.color)
        .style("stroke-width", "5px");
      function volume_resize () {
        if (set_to_resize_pitch_and_volume_graph) {
          volume_height = $("#volume_graph").height() - $("#volume_graph").height()/5;
          volume_width = $("#volume_graph").width();
          $("#volume_graph").css("top", (volume_height + $("#volume_graph").height()/5) + "px");
        }
        else {
          volume_height = $("#cam").height()/2 - $("#cam").height()/magic_number;
          volume_width = $("#cam").width();
          $("#volume_graph").css("top", (volume_height + $("#cam").height()/magic_number) + "px");
        }
        volume_x.range([0, volume_width]);
        volume_y.range([volume_height, 0]);
        volume_svg
          .attr("width", volume_width)
          .attr("height", volume_height + 5);
      }
      function volume_tick () {
        volume_group.data.push(volume_value);
        volume_group.path.attr("d", volume_line);
        volume_x.domain([now - (limit - 2)*duration, now - duration]);
        volume_paths.attr("transform", null)
          .transition()
          .attr("transform", "translate(" + volume_x(now - (limit - 1)*duration) + ")")
          .duration(duration)
          .ease(d3.easeLinear)
          .on("end", volume_tick);
        volume_group.data.shift();
      }

      var client_name = "";
      function qr_code_adjust () {
        var qr_code_height = document.getElementById("qr_code").clientHeight;
        var qr_code_width = document.getElementById("qr_code").clientWidth;
        var qr_code_dimension = qr_code_height < qr_code_width ? qr_code_height : qr_code_width;
        var qr_value = document.getElementById("qr_value");
        // If value in `qr_value` is invalid.
        if (!qr_value.value) {
          qr_value.focus();
          return;
        }
        // If value in `qr_value` is valid.
        // Remove previous QR code.
        $("#qr_code > canvas").remove();
        $("#qr_code > img").remove();
        // Set new QR code.
        new QRCode(document.getElementById("qr_code"), {
          colorLight:"#F8F8F8",
          height:qr_code_dimension,
          width:qr_code_dimension,
          text:qr_value.value
        });
        client_name = qr_value.value;
      }

      window.onload = function() {
        face_detection_onload();
        pv_detection_onload(); // Setup for audio input from microphone.
        qr_detection_onload();
        pitch_tick();
        volume_tick();
      };

      // Sometime `window.resize();` executed when the `<div>`'s dimension is not yet set.
      // I make sure that if `window.resize();` it trigger a functions to wait 3 milliseconds before doing calculation based resized elements.
      var resize_graph = false;
      var resize_graph_counter = 0;
      var resize_graph_demo = false;
      var resize_graph_demo_counter = 0;
      var resize_pitch_and_volume_graph = false;
      var resize_pitch_and_volume_graph_counter = 0;
      window.setInterval(function () {
        if (resize_graph) {
          $(".client_circle").css("opacity", "0");
          $(".presence_circle").css("opacity", "0");
          $(".presence_line").css("opacity", "0");
          $("head").append("<style class='run_time_style normal'>.client_circle {opacity:0}</style>");
          $("head").append("<style class='run_time_style normal'>.presence_circle {opacity:0}</style>");
          $("head").append("<style class='run_time_style normal'>.presence_line {opacity:0}</style>");
          resize_graph_counter += 1;
        }
        if (resize_graph_counter >= 3){
          graph_resize();
          $(".client_circle").css("opacity", "1");
          $(".presence_circle").css("opacity", "1");
          $(".presence_line").css("opacity", "1");
          $("style.run_time_style.normal").remove();
          resize_graph = false;
          resize_graph_counter = 0;
        }

        if (resize_graph_demo) {
          $(".client_circle_simulation").css("opacity", "0");
          $(".simulate_presence_circle").css("opacity", "0");
          $(".simulate_presence_line").css("opacity", "0");
          $("head").append("<style class='run_time_style simulation'>.client_circle_simulation {opacity:0;}</style>");
          $("head").append("<style class='run_time_style simulation'>.simulate_presence_circle {opacity:0;}</style>");
          $("head").append("<style class='run_time_style simulation'>.simulate_presence_line {opacity:0;}</style>");
          resize_graph_demo_counter += 1;
        }
        if (resize_graph_demo_counter >= 3){
          graph_demo_resize();
          $(".client_circle_simulation").css("opacity", "1");
          $("style.run_time_style.simulation").remove();
          resize_graph_demo = false;
          resize_graph_demo_counter = 0;
        }

        if (resize_pitch_and_volume_graph) {
          resize_pitch_and_volume_graph_counter += 1;
        }
        if (resize_pitch_and_volume_graph_counter >= 3){
          pitch_resize();
          volume_resize();
          resize_pitch_and_volume_graph = false;
          resize_pitch_and_volume_graph_counter = 0;
        }
      }, 1);

      var active = false;
      var dt = "";
      var dt_previous = null;
      var set_to_resize_graph_demo = false;
      window.setInterval(function () {
        pitch_update = true; // Ask the `loop_pitch()` to set new `innerHTML` value to display current pitch.
        volume_update = true; // Ask the `loop_volume()` to set new `innerHTML` value to display current volume.
        loop_qr(); // Check if there is a detected QR code.

        // Set date for every seconds passed.
        now = new Date();
        var date_formatted = {};
        date_formatted["year"] = Number(now.getFullYear());
        date_formatted["month"] = Number(now.getUTCMonth()) < 10 ? String("0" + now.getUTCMonth()) : Number(now.getUTCMonth());
        date_formatted["day"] = Number(now.getUTCDate()) < 10 ? String("0" + now.getUTCDate()) : Number(now.getUTCDate());
        date_formatted["hour"] = Number(now.getUTCHours()) < 10 ? String("0" + now.getUTCHours()) : Number(now.getUTCHours());
        date_formatted["minute"] = Number(now.getUTCMinutes()) < 10 ? String("0" + now.getUTCMinutes()) : Number(now.getUTCMinutes());
        date_formatted["second"] = Number(now.getUTCSeconds()) < 10 ? String("0" + now.getUTCSeconds()) : Number(now.getUTCSeconds());
        dt = String(date_formatted["year"]) +
          String(date_formatted["month"]) +
          String(date_formatted["day"]) +
          String(date_formatted["hour"]) +
          String(date_formatted["minute"]) +
          String(date_formatted["second"]);
        if (active && dt != dt_previous) {
          table_client = {};
          table_face = {};
          table_pitch = {};
          table_presence = {};
          table_volume = {};

          table_client["last_dt"] = dt;
          table_face["dt"] = dt;
          table_pitch["dt"] = dt;
          table_presence["dt"] = dt;
          table_volume["dt"] = dt;

          table_client["client_name"] = client_name;
          table_face["face"] = face_value;
          table_pitch["pitch"] = pitch_value;
          table_presence["presence"] = presence_value;
          table_volume["volume"] = volume_value;

          dt = dt_previous;
        }

        // Animation and simulation.
        for(var i = 0; i < client_simulation_array.length; i ++){
          client_simulation_array[i].simulate_online();
        }
        for(var i = 0; i < client_simulation_array.length; i ++){
          if (!client_simulation_array[i].online && client_simulation_array[i].client_circle !== null) {
            client_simulation_array[i].client_circle.circle.remove();
            client_circle_simulation_array.splice(client_circle_simulation_array.indexOf(client_simulation_array[i].client_circle), 1);
            client_simulation_array[i].client_circle = null;
          }
          else if (client_simulation_array[i].online) {
            if (client_simulation_array[i].client_circle === null) {
              new client_circle_simulation(client_simulation_array[i], 180);
            }
            client_simulation_array[i].simulate_detection_face();
            client_simulation_array[i].simulate_detection_pitch();
            client_simulation_array[i].simulate_detection_presence();
            client_simulation_array[i].simulate_detection_volume();

          }
        }
        rotate_all_for_client_circle_simulation();

        // For connecting lines between nodes.
        d3.selectAll(".simulate_presence_circle").remove();
        d3.selectAll(".simulate_presence_line").remove();
        for (var i = 0; i < client_simulation_array.length; i ++) {
          for (var j = 0; j < client_simulation_array[i].latest_presence_client_simulation_circle_array.length; j ++) {
            if (client_simulation_array[i].online) {
              var c_x_1 = Number(client_simulation_array[i].client_circle.circle.attr("cx"));
              var c_y_1 = Number(client_simulation_array[i].client_circle.circle.attr("cy"));
              var c_x_2 = Number(client_simulation_array[i].latest_presence_client_simulation_circle_array[j].circle.attr("cx"));
              var c_y_2 = Number(client_simulation_array[i].latest_presence_client_simulation_circle_array[j].circle.attr("cy"));
              var r_1 = client_simulation_array[i].client_circle.circle.attr("r");
              var r_2 = client_simulation_array[i].latest_presence_client_simulation_circle_array[j].radius;

              var radian = Math.atan2(c_y_2 - c_y_1, c_x_2 - c_x_1);

              var x_1 = c_x_1 + (r_1 * Math.cos(radian));
              var y_1 = c_y_1 + (r_1 * Math.sin(radian));
              var x_2 = c_x_2 - (r_2 * Math.cos(radian));
              var y_2 = c_y_2 - (r_2 * Math.sin(radian));

              graph_demo_svg.append("line")
                .attr("class", "simulate_presence_line")
                .attr("x1", x_1)
                .attr("y1", y_1)
                .attr("x2", x_2)
                .attr("y2", y_2)
                .attr(
                    "transform",
                    "translate(" + d3_dimension_translate_simulation.x + ", " + d3_dimension_translate_simulation.y + ")"
                )
                .style("opacity", (resize_graph_demo ? 0 : 0.5))
                .style("stroke", client_simulation_array[i].client_circle_color)
                .style("stroke-width", 5);

              graph_demo_svg.append("circle")
                .attr("class", "simulate_presence_circle")
                .attr("cx", x_2)
                .attr("cy", y_2)
                .attr("r", 5)
                .attr(
                    "transform",
                    "translate(" + d3_dimension_translate_simulation.x + ", " + d3_dimension_translate_simulation.y + ")"
                )
                .style("opacity", (resize_graph_demo ? 0 : 1))
                .style("fill", client_simulation_array[i].client_circle_color)
                .style("stroke", "no-stroke");
            }
          }
        }

        if (!mode_go_to) {
          socket.emit("latestInputRequest");
        }
        else {
          socket.emit("goToInputRequest", {"dt":$("#dt_value").val()})
        }

        // Animation for the real - time graph.
        if (received_data !== null) {
          var exists_counter = 0; // How many client with valid circle parameter (pitch and volume).
          client_array = [];
          d3.selectAll(".client_circle").remove();
          d3.selectAll(".presence_circle").remove();
          d3.selectAll(".presence_line").remove();
          for (var i = 0; i < client_array.length; i ++) {
            client_array[j].circle = null;
          }
          for (var i = 0; i < received_data.length; i ++) {
            // This is the display for each client circle in the graph.
            // The only necessary variables are the pitch and volume.
            // Without pitch and volume, there would no visualization (sadly).
            // However, in these codes below I try put the data from presence
            // detection as well, as long it is a valid (not undefined).
            if (
              received_data[i]["pitch"] !== null && received_data[i]["pitch"] !== undefined &&
              received_data[i]["volume"] !== null && received_data[i]["volume"] !== undefined
            ) {
              var client_temp = new client(received_data[i]["client_name"]);
              exists_counter += 1;

              if (received_data[i]["presence"] !== undefined) {
                var split_presence = received_data[i]["presence"].split(",");
                for (var j = 0; j < split_presence.length; j ++) {
                  client_temp.latest_presence_client_name_array.push(split_presence[j]);
                }
              }

              // Define target degree for this newly added client.
              // And, also for the previously added client.
              target = [];
              for (var j = 0; j < exists_counter; j ++) {
                var target_temp = (j/exists_counter)*360;
                target.push(target_temp);
              }

              client_temp.circle = graph_svg.append("circle")
                .attr("class", "client_circle")
                .attr("cx", main_circle_radius * Math.cos(Math.Radian(target[0])))
                .attr("cy", main_circle_radius * Math.sin(Math.Radian(target[0])))
                .attr("degree", target[0])
                .attr("id", client_temp.name)
                .attr(
                  "transform",
                  "translate(" + d3_dimension_translate.x + ", " + d3_dimension_translate.y + ")"
                )
                .style("opacity", (resize_graph ? 0 : 1))
                .style("fill", client_temp.client_circle_color)
                .style("stroke", client_temp.client_circle_color)
                .style("stroke-width", 5);

              target.splice(0, 1);

              // Adjust position of previous client circle.
              for (var j = 0; j < client_array.length; j ++) {
                // Make sure not to adjust the newly added client.
                if (client_array[j].circle !== null && client_array[j] !== client_temp) {
                  client_array[j].circle
                    .attr("cx", main_circle_radius * Math.cos(Math.Radian(target[0])))
                    .attr("cy", main_circle_radius * Math.sin(Math.Radian(target[0])))
                  target.splice(0, 1);
                }
              }

              // Pitch.
              var fill_temp = ShadeRGBColor("rgb(" + HexRGB(client_temp.client_circle_color).r + ", " + HexRGB(client_temp.client_circle_color).g + ", " + HexRGB(client_temp.client_circle_color).b +")", scale_linear_pitch(received_data[i]["pitch"]));
              client_temp.circle.style("fill", fill_temp);
              // Volume.
              client_temp.circle.attr("r", scale_linear_volume(received_data[i]["volume"]));
            }
          }
          // Presence.
          for (var i = 0; i < client_array.length; i ++) {
            if (client_array[i].latest_presence_client_name_array.length > 0) {
              // Loop through the `client_array[i].latest_presence_client_name_array`.
              for (var j = 0; j < client_array[i].latest_presence_client_name_array.length; j ++) {
                for (var k = 0; k < client_array.length; k ++) {
                  // Make sure that `client_array[k]` is not the same with `client_array[i]`.
                  if (client_array[i] != client_array[k]) {
                    // Make sure the target `client_array[k]` has a valid circle.
                    if (
                      (client_array[i].latest_presence_client_name_array[j] == client_array[k].name) &&
                      (client_array[k].circle !== undefined)
                    ) {
                      // Make the presence line and circle here for the non simulation client.
                      var c_x_1 = Number(client_array[i].circle.attr("cx"));
                      var c_y_1 = Number(client_array[i].circle.attr("cy"));
                      var c_x_2 = Number(client_array[k].circle.attr("cx"));
                      var c_y_2 = Number(client_array[k].circle.attr("cy"));
                      var r_1 = client_array[i].circle.attr("r");
                      var r_2 = client_array[k].circle.attr("r");

                      var radian = Math.atan2(c_y_2 - c_y_1, c_x_2 - c_x_1);

                      var x_1 = c_x_1 + (r_1 * Math.cos(radian));
                      var y_1 = c_y_1 + (r_1 * Math.sin(radian));
                      var x_2 = c_x_2 - (r_2 * Math.cos(radian));
                      var y_2 = c_y_2 - (r_2 * Math.sin(radian));

                      graph_svg.append("line")
                        .attr("class", "presence_line")
                        .attr("x1", x_1)
                        .attr("y1", y_1)
                        .attr("x2", x_2)
                        .attr("y2", y_2)
                        .attr(
                            "transform",
                            "translate(" + d3_dimension_translate.x + ", " + d3_dimension_translate.y + ")"
                        )
                        .style("opacity", (resize_graph ? 0 : 0.5))
                        .style("opacity", 0.5)
                        .style("stroke", client_array[i].client_circle_color)
                        .style("stroke-width", 5);

                      graph_svg.append("circle")
                        .attr("class", "presence_circle")
                        .attr("cx", x_2)
                        .attr("cy", y_2)
                        .attr("r", 5)
                        .attr(
                            "transform",
                            "translate(" + d3_dimension_translate.x + ", " + d3_dimension_translate.y + ")"
                        )
                        .style("opacity", (resize_graph ? 0 : 1))
                        .style("fill", client_array[i].client_circle_color)
                        .style("stroke", "no-stroke");
                    }
                  }
                }
              }
            }
          }
        }
      }, 1000);

      $("#dt_go_to").click(function () {
        mode_go_to = true;
      });

      $("#dt_recent").click(function () {
        mode_go_to = false;
      });

      /* For some reasons `x_resize()` functions need to be triggered twice.
      I put one in button click and the resize right 3 ticks after the first function
      in `window.setInterval(function () {}, 1);`*/
      var set_to_resize_pitch_and_volume_graph = false;
      $("#cam_button").click(function () {
        set_to_resize_pitch_and_volume_graph = true;
      });

      $("#mic_button").click(function () {
        set_to_resize_pitch_and_volume_graph = true;
        resize_pitch_and_volume_graph = true;
      });

      $("#api_button").click(function () {
        set_to_resize_pitch_and_volume_graph = true;
      });

      $("#graph_button").click(function () {
        set_to_resize_pitch_and_volume_graph = true;
        resize_graph = true;
      });

      $("#graph_demo_button").click(function () {
        set_to_resize_pitch_and_volume_graph = true;
        resize_graph_demo = true;
      });

      $("#qr_activate").click(function () {
        $("#qr_activate").html("active");
        $("#qr_activate").addClass("glowing");
        qr_code_adjust();
        active = true;
      });

      $("#qr_deactivate").click(function () {
        $("#qr_activate").html("activate");
        $("#qr_activate").removeClass("glowing");
        active = false;
      });

      $("#qr_generate").click(function () {
        qr_code_adjust();
      });

      $("#qr_value")
        .keypress(function (e) {
          if (e.keyCode == 13) { // If ENTER just pressed down.
            qr_code_adjust();
          }
        })
        .on("blur", function () {
          qr_code_adjust();
        });

      $(document)
        .ready(function () { // When page loads.
          qr_code_adjust();

          var name_value = String(window.location.href).split("?name=")[1];
          name_value = (name_value === undefined) ? undefined : name_value.split("?")[0];
          if (name_value !== undefined) {
            $("#qr_value").val(name_value);
            $("#qr_generate").click();
          }
          else {
            $("#qr_value").val("client_test");
            $("#qr_generate").click();
          }
          $("#qr_value").blur();

          var dt_value = String(window.location.href).split("?dt=")[1];
          dt_value = (dt_value === undefined) ? undefined : dt_value.split("?")[0];
          if (dt_value !== undefined) {
            $("#dt_value").val(dt_value);
            $("#dt_go_to").click();
          }
          $("#dt_value").blur();
        });

      $(window)
        .resize(function () { // When browser change size.
          graph_demo_resize();
          graph_resize();
          pitch_resize();
          volume_resize();
          d3.selectAll(".client_circle").remove();
          d3.selectAll(".presence_circle").remove();
          d3.selectAll(".presence_line").remove();

          qr_code_adjust();
          if ($("#graph").hasClass("active")) { resize_graph = true; }
          if ($("#graph_demo").hasClass("active")) { resize_graph_demo = true; }
          if ($("#mic").hasClass("active")) { resize_pitch_and_volume_graph = true; }
        });
    </script>
  </body>
</html>