<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>pysoc</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" media="screen" />

    <script src="{{ url_for('static', filename='bower_components/socket.io-client/dist/socket.io.js') }}"></script>
    <script>

    var socket = io.connect("http://" + document.domain + ":" + location.port);
    var receivedData;
    var receivedDataPrevious = receivedData;

    socket.on("latestInputSend", function (_receivedData){ receivedData = _receivedData; });

    </script>

</head>
<body>

    <div>
        <div>
            <div>
                <h1 class="text-center">pysoc</h1>
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="row"><h4 class="text-center">real - time</h4></div>
                        <div class="row" id="d3real"></div>
                    </div>
                    <div class="col-md-5">
                        <div class="row"><h4 class="text-center">client side simulation for proof of concept</h4></div>
                        <div class="row" id="d3sim"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='main_variable.js') }}"></script>

    <script src="{{ url_for('static', filename='collection-function/color_manipulation.js') }}"></script>
    <script src="{{ url_for('static', filename='collection-function/degree_radian.js') }}"></script>
    <script src="{{ url_for('static', filename='collection-function/ease.js') }}"></script>
    <script src="{{ url_for('static', filename='collection-function/fix_string.js') }}"></script>
    <script src="{{ url_for('static', filename='collection-function/focus.js') }}"></script>

    <script src="{{ url_for('static', filename='client/client.js') }}"></script>
    <script src="{{ url_for('static', filename='client/client_debug.js') }}"></script>
    <script src="{{ url_for('static', filename='client/client_realtime_input.js') }}"></script>
    <script src="{{ url_for('static', filename='client/client_simulate.js') }}"></script>
    <script src="{{ url_for('static', filename='client/client_simulate_input.js') }}"></script>

    <script src="{{ url_for('static', filename='client/client-circle/client_circle.js') }}"></script>
    <script src="{{ url_for('static', filename='client/client-circle/client_circle_rotate.js') }}"></script>

    <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>